<form class="form-inline">
    <div class ="form group mx-sm-3-mb-2">
    <label for="inputpassword2" class="sr-only">Descrição da cor</label>
        <input type="text" class="form-control" id="inputpassword2" placehoder="Descrição da cor">
        </div>
        <button type="submit" class="btn primary mb-2">Adicionar cor</button> 



</form>